__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/
.venv/
*.egg
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Docs
docs/html/
docs/.mxmake/
docs/.venv/
docs/.vale/styles/Microsoft/
docs/.vale/styles/write-good/
